.profile{
    align-items: center;
}

.profile-container{
    background-color: rgb(30, 30, 30);
    position: fixed;
    left: 20%;
    height: 87%;
    width: 60%;
    border-radius: 16px;
}



.buttons{
    background-color: rgb(30, 30, 30);
    width: 38%;
    height: 38%;
    position: relative;
    top: 20%;
    left: 6%;
}

.edit-button{
    opacity: 1;
    height: 60px;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    width: 100%;
    position: relative;
    border: 0px;

    font-weight: 500;
    color: white;
    text-align: left;
}

.edit{
    position: relative;
    left: 2%;
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}



.notification-button{
    opacity: 1;
    height: 60px;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    width: 100%;
    position: relative;
    border: 0px;

    font-weight: 500;
    color: white;
    text-align: left;

}

.notification{
    position: relative;
    left: 2%;
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}



.settings-button{
    opacity: 1;
    height: 60px;
    background-color: rgb(30, 30, 30);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    width: 100%;
    position: relative;
    border: 0px;

    font-weight: 500;
    color: white;
    text-align: left;
}

.settings{
    position: relative;
    left: 2%;
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}



.next{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 70px;
    right: 4%;
}


.pic-name{
    position: relative;
    width: 200px;
    height: 200px;
    left: 17%;
    top: 8%;
    align-items: center;
    color: white;

}

.profile{
    position: relative;
    width: 170px;
    height: 170px;
    margin-bottom: 25px;
    top: 5%;
    right: 12%;
}


.title{
    color: white;
    position: fixed;

    top: 21%;
    right: 32%;
}


.story-images{
    position:fixed;
    width: 28%;
    height: 71%;

    top: 31%;
    right: 21%;
}

.img1{
    position: relative;
    width: 190px;
    border-radius: 10px;
    margin-left: 10px;
    top: -14%;
}

.img2{
    position: relative;
    width: 190px;
    height: 253px;
    border-radius: 10px;
    margin-left: 6px;
    top: -6%;
}

.img3{
    position: relative;
    width: 190px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    top: -21%;
}

.img4{
    position: relative;
    width: 190px;
    border-radius: 10px;
    margin-left: 6px;
    top: -9%;
}

.img5{
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 10px;
    margin-left: 6px;
    top: -16%;
}

.img6{
    position: relative;
    width: 190px;
    border-radius: 10px;
    margin-left: 10px;
    top: -19%;
}